.Trellerss{
    width: 100%;
    height: 160vh;
    background-color: #000000ce;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  
  }
  .Trellerss input{
    margin-top: 30px;
padding: 10px 50px;
font-size: 20px;
background-color: #000000ce;
border: 5px solid #000000cf;
color: white;
border-radius: 15px;

  }
  .cards4{
    display: flex;
    justify-content: space-around;
    width: calc(100/4);
    flex-wrap: wrap;
  gap: 70px;
  }
  .cards4.title{
  display: flex;
  justify-content: space-around;
  
  
  }
  .cards4 .title .cart{
    width: 353px;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px ;
    background-color: #000000cf;
    flex-direction: column;
    color: white;
    text-align: center;
   
  }
  .cart img{
    width: 80%;
    height: 70%;
  
  }
  
  .cart img:hover{
  width: 100%;
  height: 60%;
  
  }